<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modding_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Modding_Assistant.Properties.Settings>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="MainWindowFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Modding_Assistant.Properties.Settings>
    </userSettings>
</configuration>