<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<targets>
		<target name="file" xsi:type="File"
				fileName="${specialfolder:folder=LocalApplicationData}/ModdingAssistant/Logs/modding-assistant-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${logger} - ${message} ${exception:format=toString}"
				archiveFileName="${specialfolder:folder=LocalApplicationData}/ModdingAssistant/Logs/archives/modding-assistant-${shortdate}-{#####}.log"
				archiveEvery="Day"
				archiveNumbering="Sequence"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false" />
	</targets>

	<rules>
		<logger name="Modding_Assistant.*" minlevel="Info" writeTo="file" final="true" />
		<logger name="*" minlevel="Warning" writeTo="file" />
	</rules>
</nlog>